<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:required="false" />

    <application
        android:name=".ManavooriApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MANAVOORIMUCHHATLU">
        <activity
            android:name="com.manavoori.muchhatlu.activities.TermsActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.ReferralActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.MyPostsActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.PostDetailActivity"
            android:exported="false"
            android:parentActivityName="com.manavoori.muchhatlu.activities.HomeActivity" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.AddPostActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.manavoori.muchhatlu.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MANAVOORIMUCHHATLU">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>